<?xml version="1.0"?>

<?ifndef var.Version?>
    <?error Undefined Version variable?>
<?endif?>
<?ifndef var.Path?>
    <?error Undefined Path variable?>
<?endif?>

<?define Win64 = "yes" ?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?define UpgradeCode = "{9f8c4b67-4ea7-4273-a9c7-e62a97989a49}" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Id="d28acc3c-82ae-492e-82d9-74712f81bf44"
        UpgradeCode="$(var.UpgradeCode)"
        Name="ktranslate"
        Version="$(var.Version)"
        Manufacturer="Kentik Technologies, Inc."
        Language="1033">

      <Package InstallerVersion="200" Compressed="yes" Comments="Windows Installer Package" Platform="x64" InstallScope="perMachine"/>

      <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
      <Media Id="1" Cabinet="ktranslate.cab" EmbedCab="yes"/>

      <!-- Step 1: Define the directory structure -->
      <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)">
                <Directory Id="APPLICATIONROOTDIRECTORY" Name="KTranslate"/>
            </Directory>
      </Directory>

     <!-- Step 2: Add files to your installer package -->
        <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
            <Component Id="ktranslate.exe" Guid="c52f95af-35e2-4c2c-9d3d-a375b7ecdea2">
                <File Id="ktranslate.exe" Source="$(var.Path)/bin/ktranslate.exe" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Directory Id="dir4EEDBBDDE71B18DFA5755E20A41B3758" Name="config">
        <Component Id="cmpB46AF4C0CF9C68FA9C458C1219F7C1D1" Guid="*">
          <File Id="fil3A4553518059793557B7F50FFD0CF595" KeyPath="yes" Source="$(var.Path)/config/config.json"/>
        </Component>
        <Directory Id="dirF1204DAB15986CD6C35A715AFDAF37C5" Name="profiles">
          <Directory Id="dir28FD6080C90E52C7CB77407C226603C0" Name="kentik_snmp">
            <Directory Id="dir03EC582BE97839FC13B35CEF1DBB8094" Name="pulse_secure">
              <Component Id="cmp62D09D19A7C87159164E1D0DF28E4EF2" Guid="*">
                <File Id="fil7F8AB92C2385601565297BEFBE1228F3" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/pulse_secure/pulse-secure.yml"/>
              </Component>
            </Directory>
            <Directory Id="dirCA0435C447EBDB2D66BC2568ABE88B55" Name="aruba">
              <Component Id="cmp7DF5EACB581579A5F94D8F12B3AC12AA" Guid="*">
                <File Id="filDC175267A49765C03A2C0FE62AA5F367" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/aruba/aruba.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir430E44FD78C51FB08A4A56C51058707D" Name="brocade">
              <Component Id="cmp17B39BF76E697DC6084D311B6A4DDAB0" Guid="*">
                <File Id="fil1CED88D778FFE4FDE46C29CD2780F2AF" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/brocade/brocade-fc-switch.yml"/>
              </Component>
            </Directory>
            <Directory Id="dirBD51F9FCFD98FE9674609ABC3DC5087A" Name="apc">
              <Component Id="cmpD5BDCD2AD398EEC1A2B652B7DA2C393B" Guid="*">
                <File Id="fil7D2DABB414642AEA92866E82F9CAAC8E" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/apc/apc_ups.yml"/>
              </Component>
              <Component Id="cmp629D5AC7CCE73C8E4DC3B246C6998151" Guid="*">
                <File Id="fil989EA2582BEE5945747C0D191A1AE7E9" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/apc/apc-netbotz.yml"/>
              </Component>
              <Component Id="cmpED1681E66F43B6F7374129E1336AB1DF" Guid="*">
                <File Id="filD70C3813439BC90864004AB4F8632A76" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/apc/apc_pdu.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir19D83877BE441DDF5618EC70DA2B25F1" Name="arista">
              <Component Id="cmpEB2F3E8577CDACAACBBD2992200AE1ED" Guid="*">
                <File Id="fil6E4C153F24F163983C7A5F927C33D9C1" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/arista/arista-switch.yml"/>
              </Component>
            </Directory>
            <Directory Id="dirA50C91F618500330BDBE30C0189F986E" Name="palo_alto">
              <Component Id="cmp9EEE2A906EFEE81989155FEE7BB47343" Guid="*">
                <File Id="filFBDE41F744176F4F6E958112F3982E62" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/palo_alto/palo-alto.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir83895692B016C3F7521E8E2BDE75E5D7" Name="generic">
              <Component Id="cmpAA7E4D04299C52FA8F6B451F3B80A151" Guid="*">
                <File Id="fil1637B60531F80ECAA15CE0C1A03284F5" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/generic/base.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir9B8D9CD4DFB1F138A7D8F8994D10FA2A" Name="server_iron">
              <Component Id="cmpA83BDAF68F0B7AD9D78915865A5AAC1E" Guid="*">
                <File Id="filFF6782DB3EA72A552631F3C7AB6AFFF2" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/server_iron/server-iron-switch.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir7755737CB8B16D811BE32C2ADAF54023" Name="hp">
              <Component Id="cmp65F3984553821535DB3E4E0E40979EA1" Guid="*">
                <File Id="fil5D91E7BA9F842276EC69E49909524DF7" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/hp/hpe-switch.yml"/>
              </Component>
            </Directory>
            <Directory Id="dirA2EE7D753F078153BA3AE82173F3C68C" Name="vertiv">
              <Component Id="cmpD27BD78289EE7D163F26F19C46A2A16A" Guid="*">
                <File Id="filC9B66C2F12CD64B78A6BE78CB576C432" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/vertiv/liebert-ac.yml"/>
              </Component>
            </Directory>
            <Directory Id="dirAD7F2900B5887DBAFA6633657E8AD97F" Name="dell">
              <Component Id="cmpB9F64466E53D8ACD6F05EB3A47DDA7F1" Guid="*">
                <File Id="fil639FCA101720C87C27261739468F0C91" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/dell/force10.yml"/>
              </Component>
              <Component Id="cmpEDEB5F23C0FEB6561E0ECFE0EDC71924" Guid="*">
                <File Id="filFBBEDA1F34811E829D7755EB31EB4041" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/dell/dell-idrac.yml"/>
              </Component>
              <Component Id="cmpE01B0EE5BA36EEA79F867587EC7B1BDF" Guid="*">
                <File Id="filDC13F6D5575FCAD7906CDF7FACC089D4" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/dell/dell-poweredge.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir2423FB18E84359477B8175C159342B8A" Name="netgear">
              <Component Id="cmp3A63588E4B269EFC98843184286DF339" Guid="*">
                <File Id="filE4BF4794FE342F100E7F3E976035CBFA" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/netgear/readynas.yml"/>
              </Component>
              <Component Id="cmp4C33EF44F0637145FEF0EE1F9C5DE982" Guid="*">
                <File Id="filAEC9EA3378452E3E07A2014A987854A2" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/netgear/netgear-generic.yml"/>
              </Component>
            </Directory>
            <Directory Id="dirC37E41E64B8E90A401F256F6B1DF98D6" Name="checkpoint">
              <Component Id="cmp46070D735FD66F95738EAB57634B0819" Guid="*">
                <File Id="fil663D94E9A2C150DA58FC4F656D6DB7F4" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/checkpoint/checkpoint-firewall.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir2D3DDC6452F348A3D8E20FEA63ED3DFA" Name="exagrid">
              <Component Id="cmpD751BE9835F45B3D27513A7CD8D3FE5D" Guid="*">
                <File Id="fil862525422061B93D51E5144B5F7CF186" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/exagrid/exagrid.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir4CBE2804CD27A1D60EF8E6D8F01A9C6E" Name="silverpeak">
              <Component Id="cmp3CF2F793E29DC51E5A815844F32A1E8D" Guid="*">
                <File Id="fil83B5B6979BFA0884F84118909783F8E6" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/silverpeak/edgeconnect.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir4E017C8A4BCF47B020E85C87F1EBD586" Name="meraki">
              <Component Id="cmp07FBE0BEF048DA7D6CEAC2C26F97611F" Guid="*">
                <File Id="fil2098C036E6E2072322D785012747562D" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/meraki/meraki-cloud-controller.yml"/>
              </Component>
            </Directory>
            <Component Id="cmp59FCF79C35FA0685247CDEBCDB79498F" Guid="*">
              <File Id="fil0727F50F52C6FD9E9ADCF9437DC2C92B" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/_template.yml"/>
            </Component>
            <Directory Id="dirA7AA8FFB068AE49CADCAE1ACBC346421" Name="juniper">
              <Component Id="cmp5585A3DA10BD5ADAAA089FA03230C939" Guid="*">
                <File Id="filAEBB37A144BB4C4FCDA24D007FE401C5" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/juniper/juniper-ex-switches.yml"/>
              </Component>
              <Component Id="cmpA33C2697F54A4EF6660FA4D9A38D58B3" Guid="*">
                <File Id="filAE041CA9FE936702B2327492F58B864F" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/juniper/juniper-mx-router.yml"/>
              </Component>
              <Component Id="cmpA545187A9A3366A8BA957031B2F39152" Guid="*">
                <File Id="filF9E4202107E4ADBC150152F13569F658" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/juniper/juniper-srx-firewalls.yml"/>
              </Component>
              <Component Id="cmpAC4E7CCA665E52C6D1FC57EFF94E97F2" Guid="*">
                <File Id="fil29A67E00CC72310F6AEE0520F985659C" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/juniper/juniper-all-devices.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir88680CAA25F2DA949E3E64B148BDD7F7" Name="fortinet">
              <Component Id="cmpDEF4C0BD37E2E8A49D007BD21B4AF48B" Guid="*">
                <File Id="fil199BD15EEC0ACF34539DB3412A2D1A73" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/fortinet/fortinet-fortigate.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir43DB3510F52A05A95C94EC2BE7061DA7" Name="cisco">
              <Component Id="cmp18F299A557C8A8212847EC2CA4EFA883" Guid="*">
                <File Id="fil726269CF865F52E26B7171A9D52BB64C" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/cisco/cisco-call-manager.yml"/>
              </Component>
              <Component Id="cmpF0764945CEEAB0B22F9E43FD734219B2" Guid="*">
                <File Id="filE13CDF827974AE6BA8C5DC30410DA836" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/cisco/cisco-catalyst.yml"/>
              </Component>
              <Component Id="cmpDE9DE28E75BBC66459DD440AA0A2139D" Guid="*">
                <File Id="fil215D6E5A9E2E57CBCB4D0D5FA6AE784A" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/cisco/cisco-nexus.yml"/>
              </Component>
              <Component Id="cmp5CA23A1BD52F58EE00D44F533A21FC1B" Guid="*">
                <File Id="fil4E3D52FDD7401621E7CC5FDFDA01CC99" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/cisco/cisco-load-balancer.yml"/>
              </Component>
              <Component Id="cmp0FB75C8D8A4A15F5BE920BBE177A72FE" Guid="*">
                <File Id="fil85865C36DB065B363A0A866768B46D60" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/cisco/cisco-all-devices.yml"/>
              </Component>
              <Component Id="cmp82F78E7E8100F5260BCE17A605BC6162" Guid="*">
                <File Id="filA979568B58D7F2BD55B1A827102F7135" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/cisco/cisco-voice.yml"/>
              </Component>
              <Component Id="cmp5A164CCAA9623908940408371640E4BC" Guid="*">
                <File Id="fil9E858BDBA803085BE78F1610DA7D204F" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/cisco/cisco-wan-optimizer.yml"/>
              </Component>
              <Component Id="cmpBC08CD824369FDA1E3EA04283A845B94" Guid="*">
                <File Id="fil6630CF4B17533229AD097DDC498C2AF1" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/cisco/cisco-asa.yml"/>
              </Component>
              <Component Id="cmp93AACE871276B7968AA848E541227DA3" Guid="*">
                <File Id="fil9C7036615936A34D6743F5E25CBA94AA" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/cisco/cisco-csr.yml"/>
              </Component>
              <Component Id="cmp39F424D32ABB67A24333B70D0EB71D3E" Guid="*">
                <File Id="fil3A7D762513E78B59BC863CF2EE22B708" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/cisco/cisco-asr.yml"/>
              </Component>
            </Directory>
            <Directory Id="dirCE413B03668BCBB3DF5A1563FC99BAD5" Name="_general">
              <Component Id="cmpA598C4602EB0326CE61EFF449F118900" Guid="*">
                <File Id="fil288894C0C2C54EFF49E808D36EEE5B35" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/_general/tcp-mib.yml"/>
              </Component>
              <Component Id="cmp3A538F652CBCE34BAB058CE592E52ABB" Guid="*">
                <File Id="fil20CF502F11393831670F82318C5704D3" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/_general/bgp4-mib.yml"/>
              </Component>
              <Component Id="cmp741BD045FA509E6CF66A636B9B1EEB24" Guid="*">
                <File Id="filA16B9255622B23330C6662E1C353666D" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/_general/ucd-mib.yml"/>
              </Component>
              <Component Id="cmpC8FA971D1FC00BC4C3BC0A3F550CA3D6" Guid="*">
                <File Id="fil1A726173D1D4B6077FCE2804F728C05B" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/_general/if-mib.yml"/>
              </Component>
              <Component Id="cmpE182DEA6CF03E694731123ABA2C79D59" Guid="*">
                <File Id="fil45E0A00F717C4B98605B2AD2BAA5C161" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/_general/system-mib.yml"/>
              </Component>
              <Component Id="cmpAD993A3A625855B3DB528902AD4907CD" Guid="*">
                <File Id="filE36956EFB55B18311E51C05AB9735B50" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/_general/udp-mib.yml"/>
              </Component>
              <Component Id="cmpA749EB6CF3BC9BD17C4B0C054C324121" Guid="*">
                <File Id="filE9FED03336D2CAF8AEDBE22340C50124" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/_general/ip-mib.yml"/>
              </Component>
              <Component Id="cmpF5BD58A575249C1DD21C47DAF1D66B39" Guid="*">
                <File Id="fil34CCE58D79C76B59F907D4C82AE62B3B" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/_general/host-resources-mib.yml"/>
              </Component>
              <Component Id="cmpCA656669D34E505C6BB00F236F68D39B" Guid="*">
                <File Id="fil80BCF93B9FF2C087C85BA73B9E1191F2" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/_general/ospf-mib.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir7325B5A7F897FE8694ED3ED87C26D64A" Name="netapp">
              <Component Id="cmp7A1F613A20341C7A8B26841E622A3C82" Guid="*">
                <File Id="fil12B740AE80A55CF135FB41DCAF739373" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/netapp/netapp-cluster.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir46CFCC2A22F1EF6511B563C9C9800B22" Name="synology">
              <Component Id="cmp12FBD1FA63F051405F6ED17D7559A369" Guid="*">
                <File Id="fil256685B340A298360AE1A208C8765A28" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/synology/disk_station.yml"/>
              </Component>
            </Directory>
            <Directory Id="dirF23033C80A7415C08284B7BBDDDD5854" Name="isilon">
              <Component Id="cmp3A8A6B23C244B9CF959AF78A56B1D737" Guid="*">
                <File Id="fil7BD55131938A6B189EDD512003ED0CD4" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/isilon/isilon.yml"/>
              </Component>
            </Directory>
          </Directory>
        </Directory>
        <Component Id="cmp5DC89FB017DD270B8ABBA3EAEA6CB0D6" Guid="*">
          <File Id="filA0DB0D8C236B92390DB66A16DE42191A" KeyPath="yes" Source="$(var.Path)/config/devices.json"/>
        </Component>
        <Directory Id="dir3BE438191BBAD79B8E1207EF7306FBF8" Name="mibs.db">
          <Component Id="cmp010B68C74E1BD336334B89C05B695C7C" Guid="*">
            <File Id="fil05BCF2FBC59F339FB09FA5638E98EEDB" KeyPath="yes" Source="$(var.Path)/config/mibs.db/000243.ldb"/>
          </Component>
          <Component Id="cmpE73AD12A4250D0F6EE204100038250B4" Guid="*">
            <File Id="fil763D7F7D25FDD7EC22BE25F6FD6C8A89" KeyPath="yes" Source="$(var.Path)/config/mibs.db/MANIFEST-001159"/>
          </Component>
          <Component Id="cmp1C3EE80361F89B92D09A0D2D0553EC8C" Guid="*">
            <File Id="fil0F4EBF2DE7257D8B2AFCE118923ACB0A" KeyPath="yes" Source="$(var.Path)/config/mibs.db/000245.ldb"/>
          </Component>
          <Component Id="cmp9C1BC4A256489AD28E96CCB71D756F5A" Guid="*">
            <File Id="fil48DC518835A19D2E6DB5E73E0308726B" KeyPath="yes" Source="$(var.Path)/config/mibs.db/LOCK"/>
          </Component>
          <Component Id="cmpF109BCB55BBB8E84BC05DA868A94BE09" Guid="*">
            <File Id="fil7D7CB1218590EA67A22B6DFF5A7CCE28" KeyPath="yes" Source="$(var.Path)/config/mibs.db/LOG"/>
          </Component>
          <Component Id="cmp515E3506FCE484A129267D75B018F536" Guid="*">
            <File Id="filEEB0BCF98E4DFFAE9240831ED138DB66" KeyPath="yes" Source="$(var.Path)/config/mibs.db/CURRENT.bak"/>
          </Component>
          <Component Id="cmp4533132CE06181C747E10B00B17998B7" Guid="*">
            <File Id="fil56C932EDB08B6A60FDBACAF0E13C87B8" KeyPath="yes" Source="$(var.Path)/config/mibs.db/CURRENT"/>
          </Component>
          <Component Id="cmp065C1B90095E40299FCFD943D5A365B4" Guid="*">
            <File Id="filF07790A5F811BA1B0E1DBBCF6EDD563B" KeyPath="yes" Source="$(var.Path)/config/mibs.db/000244.ldb"/>
          </Component>
          <Component Id="cmp7A74D61B0B6BBDC487C4D7F9BFC1A632" Guid="*">
            <File Id="fil3A3ABB8980E3E25E787737AB66F5B9A7" KeyPath="yes" Source="$(var.Path)/config/mibs.db/001158.log"/>
          </Component>
        </Directory>
        <Component Id="cmp967C1EC7EF35B953CF82064D686B1DB3" Guid="*">
          <File Id="fil4E5DE0AAB3EAEE65D8E6062263395519" KeyPath="yes" Source="$(var.Path)/config/udr.csv"/>
        </Component>
        <Component Id="cmpA74ADD4DC7268F1F47F5DF814EAB3CED" Guid="*">
          <File Id="filB280C66130E94AD7AE4AD936DEDC77CB" KeyPath="yes" Source="$(var.Path)/config/snmp.yaml.sample"/>
        </Component>
        <Component Id="cmp7EA4396B8D9EC67B7910D8A242FFCF57" Guid="7543cd41-7064-469b-9f59-53663bc4d244" NeverOverwrite="yes">
          <File Id="fil7B0F22EAC1A94EFABD34BAE59BD24184" KeyPath="yes" Source="$(var.Path)/config/snmp-win.yaml"/>
        </Component>
        <Component Id="cmpB7CB43E39FFEAC4402F746BD2B4A43D4" Guid="*">
          <File Id="filA4569B0E1004D4A52446AD495D2081C9" KeyPath="yes" Source="$(var.Path)/config/GeoLite2-Country.mmdb"/>
        </Component>
        <Component Id="cmp34171BB83455309CBC625CC7B8309AD4" Guid="*">
          <File Id="filA956FD881F5D992DEC07DA0376CEC92E" KeyPath="yes" Source="$(var.Path)/config/GeoLite2-ASN.mmdb"/>
        </Component>
      </Directory>
    </DirectoryRef>

        <!-- Step 3: Tell WiX to install the files -->
        <Feature Id="MainApplication" Title="Main Application" Level="1">
          <ComponentRef Id="ktranslate.exe" />
        <ComponentRef Id="cmpB46AF4C0CF9C68FA9C458C1219F7C1D1" />
              <ComponentRef Id="cmp62D09D19A7C87159164E1D0DF28E4EF2" />
              <ComponentRef Id="cmp7DF5EACB581579A5F94D8F12B3AC12AA" />
              <ComponentRef Id="cmp17B39BF76E697DC6084D311B6A4DDAB0" />
              <ComponentRef Id="cmpD5BDCD2AD398EEC1A2B652B7DA2C393B" />
              <ComponentRef Id="cmp629D5AC7CCE73C8E4DC3B246C6998151" />
              <ComponentRef Id="cmpED1681E66F43B6F7374129E1336AB1DF" />
              <ComponentRef Id="cmpEB2F3E8577CDACAACBBD2992200AE1ED" />
              <ComponentRef Id="cmp9EEE2A906EFEE81989155FEE7BB47343" />
              <ComponentRef Id="cmpAA7E4D04299C52FA8F6B451F3B80A151" />
              <ComponentRef Id="cmpA83BDAF68F0B7AD9D78915865A5AAC1E" />
              <ComponentRef Id="cmp65F3984553821535DB3E4E0E40979EA1" />
              <ComponentRef Id="cmpD27BD78289EE7D163F26F19C46A2A16A" />
              <ComponentRef Id="cmpB9F64466E53D8ACD6F05EB3A47DDA7F1" />
              <ComponentRef Id="cmpEDEB5F23C0FEB6561E0ECFE0EDC71924" />
              <ComponentRef Id="cmpE01B0EE5BA36EEA79F867587EC7B1BDF" />
              <ComponentRef Id="cmp3A63588E4B269EFC98843184286DF339" />
              <ComponentRef Id="cmp4C33EF44F0637145FEF0EE1F9C5DE982" />
              <ComponentRef Id="cmp46070D735FD66F95738EAB57634B0819" />
              <ComponentRef Id="cmpD751BE9835F45B3D27513A7CD8D3FE5D" />
              <ComponentRef Id="cmp3CF2F793E29DC51E5A815844F32A1E8D" />
              <ComponentRef Id="cmp07FBE0BEF048DA7D6CEAC2C26F97611F" />
            <ComponentRef Id="cmp59FCF79C35FA0685247CDEBCDB79498F" />
              <ComponentRef Id="cmp5585A3DA10BD5ADAAA089FA03230C939" />
              <ComponentRef Id="cmpA33C2697F54A4EF6660FA4D9A38D58B3" />
              <ComponentRef Id="cmpA545187A9A3366A8BA957031B2F39152" />
              <ComponentRef Id="cmpAC4E7CCA665E52C6D1FC57EFF94E97F2" />
              <ComponentRef Id="cmpDEF4C0BD37E2E8A49D007BD21B4AF48B" />
              <ComponentRef Id="cmp18F299A557C8A8212847EC2CA4EFA883" />
              <ComponentRef Id="cmpF0764945CEEAB0B22F9E43FD734219B2" />
              <ComponentRef Id="cmpDE9DE28E75BBC66459DD440AA0A2139D" />
              <ComponentRef Id="cmp5CA23A1BD52F58EE00D44F533A21FC1B" />
              <ComponentRef Id="cmp0FB75C8D8A4A15F5BE920BBE177A72FE" />
              <ComponentRef Id="cmp82F78E7E8100F5260BCE17A605BC6162" />
              <ComponentRef Id="cmp5A164CCAA9623908940408371640E4BC" />
              <ComponentRef Id="cmpBC08CD824369FDA1E3EA04283A845B94" />
              <ComponentRef Id="cmp93AACE871276B7968AA848E541227DA3" />
              <ComponentRef Id="cmp39F424D32ABB67A24333B70D0EB71D3E" />
              <ComponentRef Id="cmpA598C4602EB0326CE61EFF449F118900" />
              <ComponentRef Id="cmp3A538F652CBCE34BAB058CE592E52ABB" />
              <ComponentRef Id="cmp741BD045FA509E6CF66A636B9B1EEB24" />
              <ComponentRef Id="cmpC8FA971D1FC00BC4C3BC0A3F550CA3D6" />
              <ComponentRef Id="cmpE182DEA6CF03E694731123ABA2C79D59" />
              <ComponentRef Id="cmpAD993A3A625855B3DB528902AD4907CD" />
              <ComponentRef Id="cmpA749EB6CF3BC9BD17C4B0C054C324121" />
              <ComponentRef Id="cmpF5BD58A575249C1DD21C47DAF1D66B39" />
              <ComponentRef Id="cmpCA656669D34E505C6BB00F236F68D39B" />
              <ComponentRef Id="cmp7A1F613A20341C7A8B26841E622A3C82" />
              <ComponentRef Id="cmp12FBD1FA63F051405F6ED17D7559A369" />
              <ComponentRef Id="cmp3A8A6B23C244B9CF959AF78A56B1D737" />
        <ComponentRef Id="cmp5DC89FB017DD270B8ABBA3EAEA6CB0D6" />
          <ComponentRef Id="cmp010B68C74E1BD336334B89C05B695C7C" />
          <ComponentRef Id="cmpE73AD12A4250D0F6EE204100038250B4" />
          <ComponentRef Id="cmp1C3EE80361F89B92D09A0D2D0553EC8C" />
          <ComponentRef Id="cmp9C1BC4A256489AD28E96CCB71D756F5A" />
          <ComponentRef Id="cmpF109BCB55BBB8E84BC05DA868A94BE09" />
          <ComponentRef Id="cmp515E3506FCE484A129267D75B018F536" />
          <ComponentRef Id="cmp4533132CE06181C747E10B00B17998B7" />
          <ComponentRef Id="cmp065C1B90095E40299FCFD943D5A365B4" />
          <ComponentRef Id="cmp7A74D61B0B6BBDC487C4D7F9BFC1A632" />
        <ComponentRef Id="cmp967C1EC7EF35B953CF82064D686B1DB3" />
        <ComponentRef Id="cmpA74ADD4DC7268F1F47F5DF814EAB3CED" />
        <ComponentRef Id="cmp7EA4396B8D9EC67B7910D8A242FFCF57" Guid="7543cd41-7064-469b-9f59-53663bc4d244" NeverOverwrite="yes" />
        <ComponentRef Id="cmpB7CB43E39FFEAC4402F746BD2B4A43D4" />
        <ComponentRef Id="cmp34171BB83455309CBC625CC7B8309AD4" />
        <ComponentRef Id="cmpB46AF4C0CF9C68FA9C458C1219F7C1D1" />
              <ComponentRef Id="cmp4463D2D7EF2E64D60B7165ED2C67921D" />
              <ComponentRef Id="cmp6052E2C43A4DDBA643B6A03B0C5D3B39" />
              <ComponentRef Id="cmp73E19C142A042AAFF0DCE76003EFFEBB" />
              <ComponentRef Id="cmpC1F0A78F692AF501FBC57AA044D2BCF1" />
              <ComponentRef Id="cmp6A3288CBECB5E924DA386D6E0880DEEB" />
              <ComponentRef Id="cmp4238105B0191D6208C85F1D98442D634" />
              <ComponentRef Id="cmpD89DB4AD050FD3A8B93A667E5F30FAA0" />
              <ComponentRef Id="cmpD09A243C955CAF9F43EA7377874B6D13" />
              <ComponentRef Id="cmp797BDC5B5A66F93A7B18E1BE8DB9E238" />
              <ComponentRef Id="cmp03F819610CDED003705FDD444C14AE13" />
              <ComponentRef Id="cmp80F6FEFCDE6F6443916B2099D6959E75" />
              <ComponentRef Id="cmp42BFCA69C939ABD66F7367646BDF5507" />
              <ComponentRef Id="cmp0E270C834B5343DAE68EE6331222C8FD" />
              <ComponentRef Id="cmpCFFEECE3A0A4E1B0BD94F0FFAE2EF2C0" />
              <ComponentRef Id="cmp947E9C4D3005D312DDBA8BB4066B9C21" />
              <ComponentRef Id="cmp47ED26114E23EF1409B3AC1CA30FBDE7" />
              <ComponentRef Id="cmp33845F0824F0F4638F471E8EDB7E2479" />
              <ComponentRef Id="cmp9491191D1F2EB97EC25C72024212A0F3" />
              <ComponentRef Id="cmpAB3DABB1932B4C86C1FE69DD8A2A7F0B" />
              <ComponentRef Id="cmpDA669FCFABF587E481382B81053C2177" />
              <ComponentRef Id="cmpAE41B02D048A2CFD4926AE3BF66B99D2" />
              <ComponentRef Id="cmp7F631DF175133573D03BF9B29B44F85E" />
              <ComponentRef Id="cmpE769CA5EAACE421F33CB5A2C710D3C94" />
              <ComponentRef Id="cmp310C6E43747EC79268692E7F0F7B4FC4" />
              <ComponentRef Id="cmp8E24325912E48675630009BAE6484B56" />
              <ComponentRef Id="cmpF68651D2EA20D16853D978AF876A73CA" />
              <ComponentRef Id="cmp4712DA84DB706C829FB535BFC3A49416" />
              <ComponentRef Id="cmp71DC9A3B1A4B6FAA7DE748F5212CC1A0" />
              <ComponentRef Id="cmp03C88EEF9204D5003FAB783161477DF7" />
              <ComponentRef Id="cmp626A56F4B1F4A4283FBA8A5F0FAED47E" />
              <ComponentRef Id="cmp354CC5099EA5863B101694798A000A65" />
        <ComponentRef Id="cmp5DC89FB017DD270B8ABBA3EAEA6CB0D6" />
          <ComponentRef Id="cmp010B68C74E1BD336334B89C05B695C7C" />
          <ComponentRef Id="cmpE73AD12A4250D0F6EE204100038250B4" />
          <ComponentRef Id="cmp1C3EE80361F89B92D09A0D2D0553EC8C" />
          <ComponentRef Id="cmp9C1BC4A256489AD28E96CCB71D756F5A" />
          <ComponentRef Id="cmpF109BCB55BBB8E84BC05DA868A94BE09" />
          <ComponentRef Id="cmp515E3506FCE484A129267D75B018F536" />
          <ComponentRef Id="cmp4533132CE06181C747E10B00B17998B7" />
          <ComponentRef Id="cmp065C1B90095E40299FCFD943D5A365B4" />
          <ComponentRef Id="cmp7A74D61B0B6BBDC487C4D7F9BFC1A632" />
        <ComponentRef Id="cmp967C1EC7EF35B953CF82064D686B1DB3" />
        <ComponentRef Id="cmpA74ADD4DC7268F1F47F5DF814EAB3CED" />
        <ComponentRef Id="cmp7EA4396B8D9EC67B7910D8A242FFCF57" />
        <ComponentRef Id="cmpB7CB43E39FFEAC4402F746BD2B4A43D4" />
        <ComponentRef Id="cmp34171BB83455309CBC625CC7B8309AD4" />
        <ComponentRef Id="cmp93DFEBCE84E7942A476C36A274F90591" />
        <ComponentRef Id="cmp6A788D7A9CFF37ACBD09B30D33572D3A" />
        </Feature>

    </Product>
</Wix>
