<?xml version="1.0"?>

<?ifndef var.Version?>
    <?error Undefined Version variable?>
<?endif?>
<?ifndef var.Path?>
    <?error Undefined Path variable?>
<?endif?>

<?define Win64 = "yes" ?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?define UpgradeCode = "{9f8c4b67-4ea7-4273-a9c7-e62a97989a49}" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Id="d28acc3c-82ae-492e-82d9-74712f81bf44"
        UpgradeCode="$(var.UpgradeCode)"
        Name="ktranslate"
        Version="$(var.Version)"
        Manufacturer="Kentik Technologies, Inc."
        Language="1033">

      <Package InstallerVersion="200" Compressed="yes" Comments="Windows Installer Package" Platform="x64" InstallScope="perMachine"/>

      <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
      <Media Id="1" Cabinet="ktranslate.cab" EmbedCab="yes"/>

      <!-- Step 1: Define the directory structure -->
      <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)">
                <Directory Id="APPLICATIONROOTDIRECTORY" Name="KTranslate"/>
            </Directory>
      </Directory>

     <!-- Step 2: Add files to your installer package -->
        <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
            <Component Id="ktranslate.exe" Guid="c52f95af-35e2-4c2c-9d3d-a375b7ecdea2">
                <File Id="ktranslate.exe" Source="$(var.Path)/bin/ktranslate.exe" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Directory Id="dir4EEDBBDDE71B18DFA5755E20A41B3758" Name="config">
        <Component Id="cmpB46AF4C0CF9C68FA9C458C1219F7C1D1" Guid="*">
          <File Id="fil3A4553518059793557B7F50FFD0CF595" KeyPath="yes" Source="$(var.Path)/config/config.json"/>
        </Component>
        <Directory Id="dirF1204DAB15986CD6C35A715AFDAF37C5" Name="profiles">
          <Directory Id="dir9FEA344AFDDDC24C424ABC5FC9A8313F" Name="kentik_snmp">
            <Directory Id="dir781E34217C3190A18372654B75B5FC21" Name="vmware">
              <Component Id="cmp041F636D69ECC0B9FDED9FB7C05FB344" Guid="*">
                <File Id="fil2C70B1FA1879A61C1E1AE12A4DCD93C3" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/vmware/traps.yml"/>
              </Component>
            </Directory>
            <Directory Id="dirA47DAE3821480597294172BC18447EBD" Name="nasuni">
              <Component Id="cmp898FA6169F7A9AC068DFEDFB567C5ED2" Guid="*">
                <File Id="filB94D6F5896645F75B3C13745DD3B70BA" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/nasuni/nasuni-filer.yml"/>
              </Component>
            </Directory>
            <Directory Id="dirA01154FDA395CDE8CCD4248D3E23DC31" Name="pulse_secure">
              <Component Id="cmpD3A7E99147541BF14BBFEAD52F5713E4" Guid="*">
                <File Id="filF247228F69E9B6D313E7F04C75A89953" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/pulse_secure/pulse-secure.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir1A04EE6A4EF29C3835090A945FC8F465" Name="mikrotik">
              <Component Id="cmp427697B7E08B652048A18412A6A98642" Guid="*">
                <File Id="fil03651464A9F7703FF86B434039229D22" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/mikrotik/mikrotik-router.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir3EA35EED10F99A54A8110E2CAFA79317" Name="aruba">
              <Component Id="cmp8A1254DD66B76E63C5CE223658C37335" Guid="*">
                <File Id="fil4411CC2C5BFB070C3ABB9EF22F718F24" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/aruba/aruba-switch.yml"/>
              </Component>
              <Component Id="cmp7C04762654707B40C20DD3AFDC0B46DE" Guid="*">
                <File Id="filD9FE774739651BB1B44D3B40867A5A81" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/aruba/aruba-wireless-controller.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir03B66C1FEE8347865C3B889DBC79D8A4" Name="ubiquiti">
              <Component Id="cmp609BD143463E0D4C0DEBAD2F452D2B79" Guid="*">
                <File Id="fil742B6829BC116950B2FE87797A4785F1" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/ubiquiti/unifi-switch.yml"/>
              </Component>
              <Component Id="cmpA57E613458AC7F53646711C20C57AFD1" Guid="*">
                <File Id="fil08647F5450CB7F755083DF50E8D8905C" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/ubiquiti/unifi-security-gateway.yml"/>
              </Component>
              <Component Id="cmp73906CB9795F8EA241B585A1C39B6B66" Guid="*">
                <File Id="fil3CDBFA6585206410F955BC27D5804FE7" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/ubiquiti/unifi-access-point.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir251ACAF8EAD377C473D09BA519645A00" Name="f5">
              <Component Id="cmpB8188B54332D2E49085F8CD970A8E206" Guid="*">
                <File Id="filAC0514D9EB825CEEBA33BD9752B2B6B1" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/f5/f5.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir8EDBB147C42D6D0A8085C0D5A537CA43" Name="brocade">
              <Component Id="cmp4463D2D7EF2E64D60B7165ED2C67921D" Guid="*">
                <File Id="filF4A69B1D861A111861A00CBC726BEC45" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/brocade/brocade-fc-switch.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir87E19F1AE847386F2AD64239765253E9" Name="apc">
              <Component Id="cmp73E19C142A042AAFF0DCE76003EFFEBB" Guid="*">
                <File Id="fil223E3A8C3D00473AD3A5C3E7BB0A916C" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/apc/apc_ups.yml"/>
              </Component>
              <Component Id="cmpA9310CA9BCAF57310463B4C63DBDDA4C" Guid="*">
                <File Id="filA74A76A6B8F1D15B1E624A7EBB521111" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/apc/apc-netbotz.yml"/>
              </Component>
              <Component Id="cmpC1F0A78F692AF501FBC57AA044D2BCF1" Guid="*">
                <File Id="fil63FC864B2F6B5BEF432C240D41866A20" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/apc/apc_pdu.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir2379052523867014868AA6EDF70822B5" Name="infoblox">
              <Component Id="cmpD8888BA97EEC0993134CBD0F8A087E94" Guid="*">
                <File Id="fil379913704876D436D99779F47AC5189B" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/infoblox/infoblox-ipam.yml"/>
              </Component>
            </Directory>
            <Directory Id="dirBE4D5B229180269149D7B26ECDE97973" Name="arista">
              <Component Id="cmpAFD035CDC5931BA6515F5A1751E320E1" Guid="*">
                <File Id="fil8935A47027EB1FBAD79AD646EA64C2A1" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/arista/arista-switch.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir0F7A7669B75D5921D9F4D5127BF25DDB" Name="mcafee">
              <Component Id="cmp6F5BFEDCB2DB6CD7FD20EF56440A4297" Guid="*">
                <File Id="fil8EB37BB1FF809E9E06AC6644FA26351B" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/mcafee/mcafee-web-gateway.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir589B42ADDA2E90861D6DAD2786C27255" Name="pf_sense">
              <Component Id="cmpDDBDF61AFA1A4DA66EDB63E5FB1EB143" Guid="*">
                <File Id="fil2B34868E4EEB9F7E8CB7FE107EAEC77A" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/pf_sense/pf_sense.yml"/>
              </Component>
            </Directory>
            <Directory Id="dirA0810504348C15CE95AA04A7AE9178BD" Name="palo_alto">
              <Component Id="cmp4238105B0191D6208C85F1D98442D634" Guid="*">
                <File Id="fil7712FE87EFDEFE8A44C16C608033B5DC" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/palo_alto/palo-alto.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir11F018E6C79590AF0D375F656FD6E73C" Name="fireeye">
              <Component Id="cmp6B8C05F8FC4155ED787EA96DE8CC3B05" Guid="*">
                <File Id="fil94404D8CA27A5DF0A999C5A34A855FF7" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/fireeye/fireeye.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir81A8F4CFC8A3D5092D89F85DB43AC0EE" Name="generic">
              <Component Id="cmpD89DB4AD050FD3A8B93A667E5F30FAA0" Guid="*">
                <File Id="fil963DD98235B75B78B64CCDB266A63EF9" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/generic/base.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir84B964A5E0F376BBAD693BBC422C6F7A" Name="server_iron">
              <Component Id="cmp3F0C66D304006BF7419CF65B8C17BA85" Guid="*">
                <File Id="filD3DB008BF5E6124C07E52F4A5D377142" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/server_iron/server-iron-switch.yml"/>
              </Component>
            </Directory>
            <Directory Id="dirE43917AB4152497D4BD414BAF44A2FF4" Name="hp">
              <Component Id="cmpFB70D47EA3440F25F5943A7AA15AC9FA" Guid="*">
                <File Id="filBDD9E5E4BC40A057430552953831E403" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/hp/hp-icf-switch.yml"/>
              </Component>
              <Component Id="cmp038628F3936300DB6B7A52709A6B3EDD" Guid="*">
                <File Id="fil9B6C1F0CF42CC6D1B117411CFA725CCA" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/hp/hp-h3c-switch.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir8F90B1C466CDBF7ABB176E1262611229" Name="vertiv">
              <Component Id="cmpF87F69013ECD77A4181077EC16378820" Guid="*">
                <File Id="filA1D06456DACA8CA463569F494A5EFE75" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/vertiv/liebert-ac.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir5BA36C1B255B196F0F905A2782813115" Name="citrix">
              <Component Id="cmp8D7620C99EB0A0E13CAD2B5CAD23FC6D" Guid="*">
                <File Id="filAC19B66FC63033A32FB30C84B943E1FF" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/citrix/netscaler.yml"/>
              </Component>
            </Directory>
            <Directory Id="dirE548E3FC31AE1241E198CBC5111418D6" Name="dell">
              <Component Id="cmp0C403B99A91F5BB1C29A84BF672F76A4" Guid="*">
                <File Id="fil984DC68AF6DEF3FC250830D060965182" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/dell/force10.yml"/>
              </Component>
              <Component Id="cmp8B96910A67CEB36A3F243611CAEFAE03" Guid="*">
                <File Id="filB3C8C96853673FF6ECAB7EE88C7A7793" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/dell/dell-powerconnect.yml"/>
              </Component>
              <Component Id="cmpA3651D5081D7F9C88C7AE7F74AB9D1D1" Guid="*">
                <File Id="fil87EFBD0C057A606BFD0B49D1986F5CF4" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/dell/dell-idrac.yml"/>
              </Component>
              <Component Id="cmp9856633CC6A03B24036DC65FA9714779" Guid="*">
                <File Id="fil8B6B122D35E99EF4FEAE1FB972BB7BDB" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/dell/emc-data-domain.yml"/>
              </Component>
              <Component Id="cmpCFF6D6C32037028DCC3BA19913B214F8" Guid="*">
                <File Id="filD33234A0DFEBB4A3E8628E962626097B" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/dell/dell-poweredge.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir79BBE4573ECA4BA7198A52FBF652EC8F" Name="netgear">
              <Component Id="cmpD09A243C955CAF9F43EA7377874B6D13" Guid="*">
                <File Id="filF01A5BC256064004B2D3CBD33FDCAC66" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/netgear/readynas.yml"/>
              </Component>
              <Component Id="cmp6A788D7A9CFF37ACBD09B30D33572D3A" Guid="*">
                <File Id="filEADCA998EDCA37F70BA3DA5D65AC48A5" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/netgear/netgear-generic.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir08E00E9BF25E93DED3D193E7E4CB7C2C" Name="checkpoint">
              <Component Id="cmp797BDC5B5A66F93A7B18E1BE8DB9E238" Guid="*">
                <File Id="filA85352CFBC89C654DD39444A01AEDC35" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/checkpoint/checkpoint-firewall.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir02987A5A38DD9666348D8998232122FC" Name="exagrid">
              <Component Id="cmp72C233A889AE21F639B21939FA5F1976" Guid="*">
                <File Id="fil034841CFA1184E32C8EC6FA8BA18136A" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/exagrid/exagrid.yml"/>
              </Component>
            </Directory>
            <Directory Id="dirD0FC344F545BFB6F6FE40B8EC58DBAB0" Name="silverpeak">
              <Component Id="cmp19060F3FADCB17328FAEFA82DA2F6EFA" Guid="*">
                <File Id="fil6901C7BC456AF0F8A7C6815D38EFF952" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/silverpeak/edgeconnect.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir7620180A274699A7FA5F8110934A48CA" Name="meraki">
              <Component Id="cmp03F819610CDED003705FDD444C14AE13" Guid="*">
                <File Id="filCB97030BBABE59A994BEACF984DBF674" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/meraki/meraki-cloud-controller.yml"/>
              </Component>
            </Directory>
            <Component Id="cmp31F98DD9BC2BDA5EF8E5787F9713F3D5" Guid="*">
              <File Id="fil579D15F3ECB32350D70CEE745C1A07D4" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/_template.yml"/>
            </Component>
            <Directory Id="dirB2122FF827D207100B149B1818892B2F" Name="juniper">
              <Component Id="cmp80F6FEFCDE6F6443916B2099D6959E75" Guid="*">
                <File Id="filE9F7A3BC5385432AA4A5F86A7C300C6A" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/juniper/juniper-ex-switches.yml"/>
              </Component>
              <Component Id="cmp42BFCA69C939ABD66F7367646BDF5507" Guid="*">
                <File Id="fil536E59DBF98106D22BFA7DE2F7CAA8B7" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/juniper/juniper-mx-router.yml"/>
              </Component>
              <Component Id="cmp0E270C834B5343DAE68EE6331222C8FD" Guid="*">
                <File Id="fil69C6F1258F17A1A51C71814101470C7E" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/juniper/juniper-srx-firewalls.yml"/>
              </Component>
              <Component Id="cmpCFFEECE3A0A4E1B0BD94F0FFAE2EF2C0" Guid="*">
                <File Id="fil7AD49A25CFF4502AD47EFD6E31599EF8" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/juniper/juniper-all-devices.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir3359793130D050A74F122F96C40BEF64" Name="barracuda">
              <Component Id="cmpEFC598CC5DF4336FE17D91CCC348AC77" Guid="*">
                <File Id="filA9E51C3909F027F1480A62D3F5650604" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/barracuda/barracuda-email-gateway.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir8A66A45301678CB9DC008B57A7D02582" Name="fortinet">
              <Component Id="cmp947E9C4D3005D312DDBA8BB4066B9C21" Guid="*">
                <File Id="fil0A3B03085A7E6F14BFA6B8BD30C4A6F9" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/fortinet/fortinet-fortigate.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir75F7EEB338BE6C580E9E11D8B92BDFCF" Name="cisco">
              <Component Id="cmpD3BE6A6140E5415DE63F264E5A4BD78B" Guid="*">
                <File Id="fil1E3AD15461C619520122D6FB87C858C8" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/cisco/cisco-call-manager.yml"/>
              </Component>
              <Component Id="cmp47ED26114E23EF1409B3AC1CA30FBDE7" Guid="*">
                <File Id="filC87224585D73240A9CB2A82C56BC4534" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/cisco/cisco-catalyst.yml"/>
              </Component>
              <Component Id="cmpE846E2DFED6F0BBC89242542EA0C5129" Guid="*">
                <File Id="fil71EDDAE07851D6D4538FCCD1ACEB7A2D" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/cisco/cisco-firepower.yml"/>
              </Component>
              <Component Id="cmp33845F0824F0F4638F471E8EDB7E2479" Guid="*">
                <File Id="filC59E0B1A3CA7F22B1B7E9B782EAEFA38" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/cisco/cisco-nexus.yml"/>
              </Component>
              <Component Id="cmp3F53203A08F108383A7E09FBD0A0A151" Guid="*">
                <File Id="fil441AC9984827F637CC449C037D7B4E7A" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/cisco/cisco-load-balancer.yml"/>
              </Component>
              <Component Id="cmp9491191D1F2EB97EC25C72024212A0F3" Guid="*">
                <File Id="filC725B2143A1EC4E28B59F7270A679217" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/cisco/cisco-all-devices.yml"/>
              </Component>
              <Component Id="cmpAB3DABB1932B4C86C1FE69DD8A2A7F0B" Guid="*">
                <File Id="fil494590872A1CDBE54D886FA123BADD4F" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/cisco/cisco-voice.yml"/>
              </Component>
              <Component Id="cmp729AE760C39B79DA875546EDAE76814E" Guid="*">
                <File Id="fil7D10E689703BCD64DFA74E252922AC1C" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/cisco/cisco-wan-optimizer.yml"/>
              </Component>
              <Component Id="cmpDA669FCFABF587E481382B81053C2177" Guid="*">
                <File Id="fil2C0FC07BAFB2659F60BEB5D0537506B2" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/cisco/cisco-asa.yml"/>
              </Component>
              <Component Id="cmpA4C719D1CAAA24DD7CE0277228E2718F" Guid="*">
                <File Id="fil703E0485DFFBBF9EEC8D68EF52A0C425" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/cisco/cisco-csr.yml"/>
              </Component>
              <Component Id="cmpD8A60A143C855C566DDE07850EC2EB80" Guid="*">
                <File Id="fil9DBBA5CB82E30D12C6ED6C51A4DFA4C6" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/cisco/cisco-asr.yml"/>
              </Component>
              <Component Id="cmpF4AEB2B3D3EA86956415ECA0FAFD6435" Guid="*">
                <File Id="fil8BB830BE8F6016892991E28A198DB880" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/cisco/cisco-wlc.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir48C2DFB83AECBE235B68959687697585" Name="_general">
              <Component Id="cmpAE41B02D048A2CFD4926AE3BF66B99D2" Guid="*">
                <File Id="filD8895A3104939768FE4249282ADBA922" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/_general/tcp-mib.yml"/>
              </Component>
              <Component Id="cmp7F631DF175133573D03BF9B29B44F85E" Guid="*">
                <File Id="fil3C953414ECC0F6A3E188963436028479" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/_general/bgp4-mib.yml"/>
              </Component>
              <Component Id="cmpE769CA5EAACE421F33CB5A2C710D3C94" Guid="*">
                <File Id="filE686E2AF48C0D1C9443674E39D48CE65" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/_general/ucd-mib.yml"/>
              </Component>
              <Component Id="cmp310C6E43747EC79268692E7F0F7B4FC4" Guid="*">
                <File Id="filAE8BD10E61A01ABD55AD97AAA053C5C4" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/_general/if-mib.yml"/>
              </Component>
              <Component Id="cmp8E24325912E48675630009BAE6484B56" Guid="*">
                <File Id="filF30319C092FEB96BBE1020C66E0D7848" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/_general/system-mib.yml"/>
              </Component>
              <Component Id="cmpB2F1B92FF9D31BB5FAA75DC0551BA011" Guid="*">
                <File Id="fil5302B4C2BA4C17705BA70C6E84B63E44" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/_general/entity-sensor-mib.yml"/>
              </Component>
              <Component Id="cmpF68651D2EA20D16853D978AF876A73CA" Guid="*">
                <File Id="fil187ABEA48F45CACBF534AD2396E6A3A5" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/_general/udp-mib.yml"/>
              </Component>
              <Component Id="cmp4712DA84DB706C829FB535BFC3A49416" Guid="*">
                <File Id="fil41C94D006F2EDB4FC0A9CBEB4FC89E20" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/_general/ip-mib.yml"/>
              </Component>
              <Component Id="cmp3808FECEC64D3854311FE1BF46BC38AB" Guid="*">
                <File Id="fil7FAE279CBB4AD76544301522122B9C4C" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/_general/net-snmp.yml"/>
              </Component>
              <Component Id="cmp71DC9A3B1A4B6FAA7DE748F5212CC1A0" Guid="*">
                <File Id="filE831AA68CED99C4B695D626F9D6D87FA" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/_general/host-resources-mib.yml"/>
              </Component>
              <Component Id="cmp03C88EEF9204D5003FAB783161477DF7" Guid="*">
                <File Id="filCC970C03CF92B1CD376E93C9E8EB3578" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/_general/ospf-mib.yml"/>
              </Component>
            </Directory>
            <Directory Id="dirA53B1CD650FC07F57B1E067DB7CC4FF1" Name="nvidia">
              <Component Id="cmp94EEE3A745C353AB113613460B65389E" Guid="*">
                <File Id="fil0D457AA657B5A8BC2970CB21023CC209" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/nvidia/cumulus-linux-switch.yml"/>
              </Component>
            </Directory>
            <Directory Id="dirB4A090D21EAD7A83AE7EB08D47BA4970" Name="opengear">
              <Component Id="cmpA126ACB0F498F4DEE438895CBB146273" Guid="*">
                <File Id="fil2A8EBA8B3A9096E1AEF8C1FB3C8C0EAC" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/opengear/console-manager.yml"/>
              </Component>
            </Directory>
            <Directory Id="dirE2587F52A1C7B56C7E4DC6A617A360DE" Name="netapp">
              <Component Id="cmp626A56F4B1F4A4283FBA8A5F0FAED47E" Guid="*">
                <File Id="fil9542905B5C561ECAD1F3BB768316C9E4" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/netapp/netapp-cluster.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir7C3FE291B8A36BC431F1C99C49DCCB14" Name="synology">
              <Component Id="cmp6EECEE2B0DE8DE8D1CF923543A167E0C" Guid="*">
                <File Id="fil4B03CB9AE8F8FA944A073BBEAB26E9EC" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/synology/disk_station.yml"/>
              </Component>
            </Directory>
            <Directory Id="dir8CDF592DD5D9903615A2F065ABEB4256" Name="eaton">
              <Component Id="cmp800E9023057091384F8E8E0947CD881D" Guid="*">
                <File Id="filA765332970E3BE5CACCF5449384B4DAE" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/eaton/traps.yml"/>
              </Component>
            </Directory>
            <Directory Id="dirE36D30AFD3D9894CB9A7ABD05169C0A8" Name="isilon">
              <Component Id="cmp354CC5099EA5863B101694798A000A65" Guid="*">
                <File Id="fil2AA7DB19CC85A18876CA9C298949913F" KeyPath="yes" Source="$(var.Path)/config/profiles/profiles/kentik_snmp/isilon/isilon.yml"/>
              </Component>
            </Directory>
          </Directory>
        </Directory>

        <Component Id="cmp5DC89FB017DD270B8ABBA3EAEA6CB0D6" Guid="*">
          <File Id="filA0DB0D8C236B92390DB66A16DE42191A" KeyPath="yes" Source="$(var.Path)/config/devices.json"/>
        </Component>
        <Directory Id="dir3BE438191BBAD79B8E1207EF7306FBF8" Name="mibs.db">
          <Component Id="cmp010B68C74E1BD336334B89C05B695C7C" Guid="*">
            <File Id="fil05BCF2FBC59F339FB09FA5638E98EEDB" KeyPath="yes" Source="$(var.Path)/config/mibs.db/000243.ldb"/>
          </Component>
          <Component Id="cmpE73AD12A4250D0F6EE204100038250B4" Guid="*">
            <File Id="fil763D7F7D25FDD7EC22BE25F6FD6C8A89" KeyPath="yes" Source="$(var.Path)/config/mibs.db/MANIFEST-001159"/>
          </Component>
          <Component Id="cmp1C3EE80361F89B92D09A0D2D0553EC8C" Guid="*">
            <File Id="fil0F4EBF2DE7257D8B2AFCE118923ACB0A" KeyPath="yes" Source="$(var.Path)/config/mibs.db/000245.ldb"/>
          </Component>
          <Component Id="cmp9C1BC4A256489AD28E96CCB71D756F5A" Guid="*">
            <File Id="fil48DC518835A19D2E6DB5E73E0308726B" KeyPath="yes" Source="$(var.Path)/config/mibs.db/LOCK"/>
          </Component>
          <Component Id="cmpF109BCB55BBB8E84BC05DA868A94BE09" Guid="*">
            <File Id="fil7D7CB1218590EA67A22B6DFF5A7CCE28" KeyPath="yes" Source="$(var.Path)/config/mibs.db/LOG"/>
          </Component>
          <Component Id="cmp515E3506FCE484A129267D75B018F536" Guid="*">
            <File Id="filEEB0BCF98E4DFFAE9240831ED138DB66" KeyPath="yes" Source="$(var.Path)/config/mibs.db/CURRENT.bak"/>
          </Component>
          <Component Id="cmp4533132CE06181C747E10B00B17998B7" Guid="*">
            <File Id="fil56C932EDB08B6A60FDBACAF0E13C87B8" KeyPath="yes" Source="$(var.Path)/config/mibs.db/CURRENT"/>
          </Component>
          <Component Id="cmp065C1B90095E40299FCFD943D5A365B4" Guid="*">
            <File Id="filF07790A5F811BA1B0E1DBBCF6EDD563B" KeyPath="yes" Source="$(var.Path)/config/mibs.db/000244.ldb"/>
          </Component>
          <Component Id="cmp7A74D61B0B6BBDC487C4D7F9BFC1A632" Guid="*">
            <File Id="fil3A3ABB8980E3E25E787737AB66F5B9A7" KeyPath="yes" Source="$(var.Path)/config/mibs.db/001158.log"/>
          </Component>
        </Directory>
        <Component Id="cmp967C1EC7EF35B953CF82064D686B1DB3" Guid="*">
          <File Id="fil4E5DE0AAB3EAEE65D8E6062263395519" KeyPath="yes" Source="$(var.Path)/config/udr.csv"/>
        </Component>
        <Component Id="cmpA74ADD4DC7268F1F47F5DF814EAB3CED" Guid="*">
          <File Id="filB280C66130E94AD7AE4AD936DEDC77CB" KeyPath="yes" Source="$(var.Path)/config/snmp.yaml.sample"/>
        </Component>
        <Component Id="cmp7EA4396B8D9EC67B7910D8A242FFCF57" Guid="7543cd41-7064-469b-9f59-53663bc4d244" NeverOverwrite="yes">
          <File Id="fil7B0F22EAC1A94EFABD34BAE59BD24184" KeyPath="yes" Source="$(var.Path)/config/snmp-win.yaml"/>
        </Component>
        <Component Id="cmpB7CB43E39FFEAC4402F746BD2B4A43D4" Guid="*">
          <File Id="filA4569B0E1004D4A52446AD495D2081C9" KeyPath="yes" Source="$(var.Path)/config/GeoLite2-Country.mmdb"/>
        </Component>
        <Component Id="cmp34171BB83455309CBC625CC7B8309AD4" Guid="*">
          <File Id="filA956FD881F5D992DEC07DA0376CEC92E" KeyPath="yes" Source="$(var.Path)/config/GeoLite2-ASN.mmdb"/>
        </Component>
      </Directory>
    </DirectoryRef>

        <!-- Step 3: Tell WiX to install the files -->
        <Feature Id="MainApplication" Title="Main Application" Level="1">
          <ComponentRef Id="ktranslate.exe" />
        <ComponentRef Id="cmpB46AF4C0CF9C68FA9C458C1219F7C1D1" />
              <ComponentRef Id="cmp041F636D69ECC0B9FDED9FB7C05FB344" />
              <ComponentRef Id="cmp898FA6169F7A9AC068DFEDFB567C5ED2" />
              <ComponentRef Id="cmpD3A7E99147541BF14BBFEAD52F5713E4" />
              <ComponentRef Id="cmp427697B7E08B652048A18412A6A98642" />
              <ComponentRef Id="cmp8A1254DD66B76E63C5CE223658C37335" />
              <ComponentRef Id="cmp7C04762654707B40C20DD3AFDC0B46DE" />
              <ComponentRef Id="cmp609BD143463E0D4C0DEBAD2F452D2B79" />
              <ComponentRef Id="cmpA57E613458AC7F53646711C20C57AFD1" />
              <ComponentRef Id="cmp73906CB9795F8EA241B585A1C39B6B66" />
              <ComponentRef Id="cmpB8188B54332D2E49085F8CD970A8E206" />
              <ComponentRef Id="cmp4463D2D7EF2E64D60B7165ED2C67921D" />
              <ComponentRef Id="cmp73E19C142A042AAFF0DCE76003EFFEBB" />
              <ComponentRef Id="cmpA9310CA9BCAF57310463B4C63DBDDA4C" />
              <ComponentRef Id="cmpC1F0A78F692AF501FBC57AA044D2BCF1" />
              <ComponentRef Id="cmpD8888BA97EEC0993134CBD0F8A087E94" />
              <ComponentRef Id="cmpAFD035CDC5931BA6515F5A1751E320E1" />
              <ComponentRef Id="cmp6F5BFEDCB2DB6CD7FD20EF56440A4297" />
              <ComponentRef Id="cmpDDBDF61AFA1A4DA66EDB63E5FB1EB143" />
              <ComponentRef Id="cmp4238105B0191D6208C85F1D98442D634" />
              <ComponentRef Id="cmp6B8C05F8FC4155ED787EA96DE8CC3B05" />
              <ComponentRef Id="cmpD89DB4AD050FD3A8B93A667E5F30FAA0" />
              <ComponentRef Id="cmp3F0C66D304006BF7419CF65B8C17BA85" />
              <ComponentRef Id="cmpFB70D47EA3440F25F5943A7AA15AC9FA" />
              <ComponentRef Id="cmp038628F3936300DB6B7A52709A6B3EDD" />
              <ComponentRef Id="cmpF87F69013ECD77A4181077EC16378820" />
              <ComponentRef Id="cmp8D7620C99EB0A0E13CAD2B5CAD23FC6D" />
              <ComponentRef Id="cmp0C403B99A91F5BB1C29A84BF672F76A4" />
              <ComponentRef Id="cmp8B96910A67CEB36A3F243611CAEFAE03" />
              <ComponentRef Id="cmpA3651D5081D7F9C88C7AE7F74AB9D1D1" />
              <ComponentRef Id="cmp9856633CC6A03B24036DC65FA9714779" />
              <ComponentRef Id="cmpCFF6D6C32037028DCC3BA19913B214F8" />
              <ComponentRef Id="cmpD09A243C955CAF9F43EA7377874B6D13" />
              <ComponentRef Id="cmp6A788D7A9CFF37ACBD09B30D33572D3A" />
              <ComponentRef Id="cmp797BDC5B5A66F93A7B18E1BE8DB9E238" />
              <ComponentRef Id="cmp72C233A889AE21F639B21939FA5F1976" />
              <ComponentRef Id="cmp19060F3FADCB17328FAEFA82DA2F6EFA" />
              <ComponentRef Id="cmp03F819610CDED003705FDD444C14AE13" />
            <ComponentRef Id="cmp31F98DD9BC2BDA5EF8E5787F9713F3D5" />
              <ComponentRef Id="cmp80F6FEFCDE6F6443916B2099D6959E75" />
              <ComponentRef Id="cmp42BFCA69C939ABD66F7367646BDF5507" />
              <ComponentRef Id="cmp0E270C834B5343DAE68EE6331222C8FD" />
              <ComponentRef Id="cmpCFFEECE3A0A4E1B0BD94F0FFAE2EF2C0" />
              <ComponentRef Id="cmpEFC598CC5DF4336FE17D91CCC348AC77" />
              <ComponentRef Id="cmp947E9C4D3005D312DDBA8BB4066B9C21" />
              <ComponentRef Id="cmpD3BE6A6140E5415DE63F264E5A4BD78B" />
              <ComponentRef Id="cmp47ED26114E23EF1409B3AC1CA30FBDE7" />
              <ComponentRef Id="cmpE846E2DFED6F0BBC89242542EA0C5129" />
              <ComponentRef Id="cmp33845F0824F0F4638F471E8EDB7E2479" />
              <ComponentRef Id="cmp3F53203A08F108383A7E09FBD0A0A151" />
              <ComponentRef Id="cmp9491191D1F2EB97EC25C72024212A0F3" />
              <ComponentRef Id="cmpAB3DABB1932B4C86C1FE69DD8A2A7F0B" />
              <ComponentRef Id="cmp729AE760C39B79DA875546EDAE76814E" />
              <ComponentRef Id="cmpDA669FCFABF587E481382B81053C2177" />
              <ComponentRef Id="cmpA4C719D1CAAA24DD7CE0277228E2718F" />
              <ComponentRef Id="cmpD8A60A143C855C566DDE07850EC2EB80" />
              <ComponentRef Id="cmpF4AEB2B3D3EA86956415ECA0FAFD6435" />
              <ComponentRef Id="cmpAE41B02D048A2CFD4926AE3BF66B99D2" />
              <ComponentRef Id="cmp7F631DF175133573D03BF9B29B44F85E" />
              <ComponentRef Id="cmpE769CA5EAACE421F33CB5A2C710D3C94" />
              <ComponentRef Id="cmp310C6E43747EC79268692E7F0F7B4FC4" />
              <ComponentRef Id="cmp8E24325912E48675630009BAE6484B56" />
              <ComponentRef Id="cmpB2F1B92FF9D31BB5FAA75DC0551BA011" />
              <ComponentRef Id="cmpF68651D2EA20D16853D978AF876A73CA" />
              <ComponentRef Id="cmp4712DA84DB706C829FB535BFC3A49416" />
              <ComponentRef Id="cmp3808FECEC64D3854311FE1BF46BC38AB" />
              <ComponentRef Id="cmp71DC9A3B1A4B6FAA7DE748F5212CC1A0" />
              <ComponentRef Id="cmp03C88EEF9204D5003FAB783161477DF7" />
              <ComponentRef Id="cmp94EEE3A745C353AB113613460B65389E" />
              <ComponentRef Id="cmpA126ACB0F498F4DEE438895CBB146273" />
              <ComponentRef Id="cmp626A56F4B1F4A4283FBA8A5F0FAED47E" />
              <ComponentRef Id="cmp6EECEE2B0DE8DE8D1CF923543A167E0C" />
              <ComponentRef Id="cmp800E9023057091384F8E8E0947CD881D" />
              <ComponentRef Id="cmp354CC5099EA5863B101694798A000A65" />
        <ComponentRef Id="cmp5DC89FB017DD270B8ABBA3EAEA6CB0D6" />
          <ComponentRef Id="cmp010B68C74E1BD336334B89C05B695C7C" />
          <ComponentRef Id="cmpE73AD12A4250D0F6EE204100038250B4" />
          <ComponentRef Id="cmp1C3EE80361F89B92D09A0D2D0553EC8C" />
          <ComponentRef Id="cmp9C1BC4A256489AD28E96CCB71D756F5A" />
          <ComponentRef Id="cmpF109BCB55BBB8E84BC05DA868A94BE09" />
          <ComponentRef Id="cmp515E3506FCE484A129267D75B018F536" />
          <ComponentRef Id="cmp4533132CE06181C747E10B00B17998B7" />
          <ComponentRef Id="cmp065C1B90095E40299FCFD943D5A365B4" />
          <ComponentRef Id="cmp7A74D61B0B6BBDC487C4D7F9BFC1A632" />
        <ComponentRef Id="cmp967C1EC7EF35B953CF82064D686B1DB3" />
        <ComponentRef Id="cmpA74ADD4DC7268F1F47F5DF814EAB3CED" />
        <ComponentRef Id="cmp7EA4396B8D9EC67B7910D8A242FFCF57" Guid="7543cd41-7064-469b-9f59-53663bc4d244" NeverOverwrite="yes" />
        <ComponentRef Id="cmpB7CB43E39FFEAC4402F746BD2B4A43D4" />
        <ComponentRef Id="cmp34171BB83455309CBC625CC7B8309AD4" />
        </Feature>

    </Product>
</Wix>
