{
	"devices": [],
	"trap": {
		"listen": "127.0.0.1:9162",
		"community": "hello123",
		"version": "v2c",
		"transport": "udp"
	},
	"discovery": {
		"cidrs": [
			"10.10.0.0/24"
		],
		"debug": false,
		"timeout_ms": 3000,
		"ports": [
			161
		],
		"default_communities": [
			"hello"
		],
		"default_v3": null,
		"add_devices": true,
		"retries": 0,
		"threads": 4,
		"mibs_db": "mibs.db",
		"check_all": false
	},
	"global": {
		"poll_time_sec": 300,
		"drop_if_outside_poll": false
	}
}