# Recommended default config for sending SNMP data to New Relic
# Includes discovery on startup with a 6 hour recurring interval
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ktranslate
spec:
  selector:
    matchLabels:
      app: ktranslate
  template:
    metadata:
      labels:
        app: ktranslate
    spec:
      initContainers:
      - name: ensure-device-file
        image: alpine
        command: ["touch", "/kt/devices.yaml"]
        volumeMounts:
          - name: ktranslate-device-list
            mountPath: /kt
      containers:
      - name: ktranslate
        image: docker.io/kentik/ktranslate:v2
        imagePullPolicy: Always
        env:
        - name: NEW_RELIC_API_KEY
          valueFrom:
            secretKeyRef:
              name: ktranslate-secret
              key: nr_api_key
        - name: NR_ACCOUNT_ID
          valueFrom:
            secretKeyRef:
              name: ktranslate-secret
              key: nr_account_id
        args:
          - --metalisten=0.0.0.0:8083
          - --snmp=/etc/ktranslate/snmp-base.yaml
          - --metrics=jchf
          - --tee_logs=true
          - --snmp_discovery_on_start=true
          - --snmp_discovery_min=360
          - nr1.snmp
        resources:
          limits:
            cpu: 1000m
            memory: 256Mi
          requests:
            cpu: 500m
            memory: 128Mi
        ports:
        - name: metadata
          containerPort: 8083
        - name: snmp
          containerPort: 1620
          protocol: UDP
        livenessProbe:
          httpGet:
            path: /metrics
            port: metadata
          initialDelaySeconds: 5
          periodSeconds: 5
        readinessProbe:
          httpGet:
            path: /metrics
            port: metadata
          initialDelaySeconds: 5
          periodSeconds: 5
        volumeMounts:
          - name: ktranslate-config
            mountPath: /etc/ktranslate/snmp-base.yaml
            subPath: snmp-base.yaml
          - name: ktranslate-device-list
            mountPath: /kt
      volumes:
        - name: ktranslate-config
          configMap:
            name: ktranslate-config
        - name: ktranslate-device-list
          emptyDir: {}


---
apiVersion: v1
kind: Service
metadata:
  name: ktranslate-metadata
  labels:
    app: ktranslate
spec:
  ports:
  - port: 8083
    name: metadata
    targetPort: 8083
    protocol: TCP
  selector:
    app: ktranslate

---
apiVersion: v1
kind: Service
metadata:
  name: ktranslate-snmp
  labels:
    app: ktranslate
spec:
  ports:
  - port: 1620
    name: snmp
    targetPort: 1620
    protocol: UDP
  selector:
    app: ktranslate

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ktranslate-config
data:
  snmp-base.yaml: |
    devices: "@/kt/devices.yaml"
    trap:
      listen: 0.0.0.0:1620
    discovery:
      cidrs:
      - 10.10.0.0/24
      ignore_list: []
      debug: false
      ports:
      - 161
      default_communities:
      - public
      default_v3: null
      add_devices: true
      add_mibs: true
      threads: 4
      replace_devices: true
      check_all_ips: true
    global:
      poll_time_sec: 300
      mib_profile_dir: /etc/ktranslate/profiles
      mibs_enabled:
      - IF-MIB
      timeout_ms: 3000
      retries: 0

---
apiVersion: v1
kind: Secret
metadata:
  name: ktranslate-secret
data:
  nr_account_id: bXktYXBw
  nr_api_key: Mzk1MjgkdmRnN0pi