## ENV VARS to set for ktranslate

KT_FLAGS=""                ## This is added to ktranslate service as any extra flags to set.
NR_ACCOUNT_ID=""
NR_REGION=""
NEW_RELIC_API_KEY=""

### For SNMP:
# KT_FLAGS="-snmp /etc/ktranslate/snmp.yaml nr1.snmp"
#

### For Netflow:
# KT_FLAGS="-nf.source ipfix nr1.flow"
#