name: Publish Windows

on:
  repository_dispatch:
    types: [new-snmp-profiles]

  push:
    branches:
      - main
      - devwin
      - win-build-msi

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
          fetch-depth: 0         # Fetch all history for .GitInfo and .Lastmod

      - name: Set Version
        run: |
           echo KENTIK_KTRANSLATE_VERSION=`date +"kt-%Y-%m-%d-${GITHUB_RUN_ID}"` >> $GITHUB_ENV

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.18.3'

      - name: Install dependencies
        run: sudo apt-get install make libpcap-dev golint

      - name: Install MM DBs
        run: |
          MM_DOWNLOAD_KEY=${{ secrets.MM_DOWNLOAD_KEY }} ./bin/get_mm.sh

      - name: Install SNMP Profiles
        uses: actions/checkout@main
        with:
          repository: kentik/snmp-profiles
          path: ./config/profiles

      - name: Run build
        run: |
          echo ${{ env.KENTIK_KTRANSLATE_VERSION }}
          KENTIK_KTRANSLATE_VERSION=${{ env.KENTIK_KTRANSLATE_VERSION }} make windows

      - name: Run vet & lint
        run: |
          go vet .
          golint .

      - name: Run testing
        run: make test

      - name: Archive binary and config artifacts
        uses: actions/upload-artifact@v2
        with:
          name: win-build-artifacts
          path: |
            config
            !config/profiles/.git*
            bin

  build-msi:
    runs-on: windows-2019
    needs: build
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Fetch artifacts
        uses: actions/download-artifact@v2
        with:
          name: win-build-artifacts
          path: "."

      - name: Build MSI
        run: |
          $env:ProductCode = [guid]::NewGuid().ToString()
          & "$env:WIX\bin\heat.exe" dir ".\config\profiles" -platform x64 -var var.SnmpProfilesPath -dr ConfigDir -cg SnmpProfiles -ag -sfrag -out SnmpProfiles.wxs -nologo
          & "$env:WIX\bin\candle.exe" -dVersion="$(Get-Date -Format 'yy.MM.dd')" -dPath="./" -dSnmpProfilesPath="./config/profiles"  -ext WixUtilExtension -ext WixUIExtension ktranslate.wxs SnmpProfiles.wxs -arch x64 -nologo
          & "$env:WIX\bin\light.exe" ktranslate.wixobj SnmpProfiles.wixobj -out ktranslate.msi -ext WixUtilExtension  -ext WixUIExtension -nologo

      - name: Publish MSI
        uses: actions/upload-artifact@v2
        with:
          name: ktranslate.msi
          path: ktranslate.msi