name: Test on Pull Request

on:
  push:
    branches-ignore:
      - 'staging'
      - 'main'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
          fetch-depth: 0         # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.22.6'

      - name: Install dependencies
        run: sudo apt-get install make libpcap-dev

      - name: Run build
        run: |
          make

      - name: Run vet
        run: |
          go vet .

      - name: Run testing
        run: make test